* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ddd;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

header h1 {
  margin: 0;
}

header nav {
  display: flex;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

section {
  padding: 2rem;
}

section h2 {
  color: #333;
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}
